
table{
    margin: auto;
    border-collapse: collapse;
}
th,td{
    width: 50%;
    height: 50%;
    border: 1px solid gray;
}
tr:nth-child(odd) td:nth-child(even){
    background-color: rgb(167, 167, 167);
}
tr:nth-child(even) td:nth-child(odd){
    background-color: rgb(167, 167, 167);
}
th{
    background-color: dimgrey;
    width: 20px;
    height: 20px;
}
.img{
    width: 50px;
    height: 50px;
}
td{
    width: 50px;
    height: 50px;
    border: 1px solid dimgrey;
}